{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/home.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <h1>Your favorite space pictures</h1>
    <div class="mainPart">
        <div class="container">
            {% for apod in apods %}
                <div class="wrapper">
                    <a href="{{ path('detail', {'apod' : apod}) }}">
                        <img src="{{ apod.image }}" alt="another space image">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
